/* Fade-in animation for the entire section */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Applying fade-in animation to the project details */
.project-details {
  animation: fadeIn 1s ease-out 0.5s forwards; /* Delay of 0.5s, duration of 1s */
}

/* Hover effect for project cards */
.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/* Image zoom effect on hover */
.project-card img {
  transition: transform 0.3s ease;
  object-fit: contain;
  height: 200px;
  border-radius: 8px;
}

.project-card:hover img {
  transform: scale(1.05);
}

/* Optional: Apply a subtle fade-in to the image on load */
.project-card img {
  animation: fadeIn 1.5s ease-out 0.3s forwards;
}

/* Styling for project name */
.project-details h3 {
  color: #45cba9; /* A subtle color for the project title */
}

/* Styling for project type */
.project-details h5 {
  color: #555;
}
