.item {
  font-size: 17px;
  margin: 0 15px;
}

.item:hover {
  text-decoration: underline;
}

/* Active link style */
.item.active {
  font-weight: bold;
  color: #45cba9 !important;
  text-decoration: underline !important;
}

.btn-font {
  font-size: 17px;
  margin: 0px 15px;
}

.navbar-padding {
  padding: 3rem;
}

/* responsive */
@media (max-width: 768px) {
  .navbar-padding {
    padding: 1rem 1rem;
  }

  .item {
    font-size: 16px;
    margin: 0 0px;
  }

  .btn-font {
    font-size: 16px;
    margin: 10px 0;
  }
}
