/* General container styling for centering */
.homehead-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-image: url("../../../Images/circle-scatter-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #333;
  font-family: "Arial", sans-serif;
}

/* Greeting text styling */
.greeting {
  font-size: 1.5rem;
  color: #45cba9; /* Friendly blue color */
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  animation: fadeIn 1s ease-in-out;
}

/* Main name title styling */
.name-title {
  font-size: 2.5rem;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: inline-block;
  animation: fadeIn 1.5s ease-in-out;
}

/* Highlight styling for name */
.highlight {
  color: #45cba9; /* Set the color to #45cba9 */
  /* text-shadow: 3px 3px 6px rgba(72, 217, 179, 0.6), 0 0 20px rgba(72, 217, 179, 0.3);  */
  font-style: italic;
}

/* Typewriter effect styling */
.typewriter-effect {
  font-size: 1.2rem;
  color: #333;
  font-weight: 400;
  margin-top: 1rem;
}

/* Image styling */
.profile-image {
  max-width: 200px;
  margin-top: 2rem;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2s ease-in-out;
}

/* Keyframe animation for fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .greeting {
    font-size: 1.2rem;
  }

  .name-title {
    font-size: 2rem;
  }

  .typewriter-effect {
    font-size: 1rem;
  }

  .profile-image {
    max-width: 150px;
  }
}
